body {
    font-family:monospace;
    font-size: 1.5em;
}

ul {
    list-style: none;
    background-color: #cccccc;
    padding: 10px;
    top: none;
}

ul > li {
    color: white;
    display: inline-block;
    padding-left: 10px;
} 

ul>li:hover {
    color: black;
}

portfolio

detail
contact




















