body {
     font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    
}
img {
    max-width: 100%;
}

.nav bar {
    text-decoration: none;
    
}
a {
        text-decoration: none;
        color: white;
}
a:hover {
    color: black;
    text-decoration: overline underline;
}
ul {
    list-style: none;
    background-color: #cccccc;
    margin: none;
    padding-top: none;
    padding: 10px;
    top: none;
}

ul > li {
    color: white;
    display: inline-block;
    padding-left: 10px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2em;
    padding-left: 20px;
        text-decoration: none;

} 

ul>li:hover {
    color: black;
}
/*Need to sketch the lay put of the website because I containue even more*/

.parallax {
    background-image: url(/landscape-images/ben-james-flowers%20on%20tress.jpg);
    min-height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whole {
    max-width: 100%;
}
.half {
    width: 40%;
    flex: flex-start;
    justify-content: space-between;
}
.third {
    flex: wrap;
     justify-content: space-around;
}



